@media all {
    .Home {
        position: relative;
        height: 600px;
        background: #DEE3E4;
    }

    /* main introduction me text*/
    .Home > .div-One {
        position: absolute;
        top: 146px;
        bottom: 0;
        left: 127px;
        height: 100px;
        width: 250px;
    }

    .Home > .div-One > * {
        margin: 0;
    }

    .Home > .div-One > p {
        font-size: 70px;
        font-family: 'Fira Sans Condensed', sans-serif;
        color: #0E092D;
    }

    .Home > .div-One > p:nth-child(2) {
        font-size: 26px;
        color: #131D32;
        font-family: 'Roboto', sans-serif;
    }

    .Home > .div-One > p:nth-child(3) {
        font-size: 24px;
        color: #131D32;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    /* Quick contacts Info*/
    .div-Two {
        position: absolute;
        height: 20px;
        width: 150px;
        display: flex;
        flex-direction: row;
        top: 320px;
        left: 130px;
    }

    .div-Two > div {
        flex-grow: 1;
    }


    /*quote*/
    .div-Three {
        position: relative;
        width: 400px;
        height: 100px;
        top: 433px;
        left: 125px;
    }

    .div-Three > p {
        margin: 0;
        font-family: 'Aclonica', sans-serif;
        font-size: 12px;
        color: #131D32;
    }

    .div-Three > p:nth-child(1) {
        text-align: left;
    }

    .div-Three > p:nth-child(2) {
        text-align: right;
    }

    .div-Three > p:nth-child(3) {
        text-align: right;
    }


    /*image blob*/
    .div-four {
        position: relative;
        width: 300px;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 224px;
        right: 0;
        margin: auto;


    }

    #blob {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #profile {
        position: absolute;
        height: 250px;
        top: 56px;
        bottom: 0;
        left: 0;
        right: 57px;
        margin: auto;
    }

}
/*RESPONSIVE*/

@media all and (max-width: 320px) {


}

@media all and (min-device-width: 320px) and (max-device-width: 375px) {

    /*image blob*/
    .div-four {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 45px;
        left: 0;
        bottom: unset;
    }

    #blob {
        position: absolute;
        width: 180px;
        height: 180px;
        right: 0;
        margin: auto;
    }

    #profile {
        position: absolute;
        height: 150px;
        top: 56px;
        right: 57px;
    }


    /*  main introduction me text */
    .Home > .div-One {
        position: absolute;
        right: 0;
        left: 53px;
        top: 45px;
        height: 100px;
        width: 250px;
        margin: auto;
    }

    .Home > .div-One > * {
        margin: 0;
    }

    .Home > .div-One > p {
        font-size: 50px;
    }

    .Home > .div-One > p:nth-child(2) {
        font-size: 26px;
    }

    .Home > .div-One > p:nth-child(3) {
        font-size: 24px;
    }

    /* Quick contacts Info*/
    .div-Two {
        top: 425px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .div-Two > div {
        flex-grow: 1;
    }

    /*quote*/
    .div-Three {
        position: absolute;
        width: 304px;
        height: 40px;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }

    .div-Three > p {
        font-size: 10px;
    }

    .div-Three > p:nth-child(1) {
        text-align: left;
    }

    .div-Three > p:nth-child(2) {
        text-align: right;
    }

    .div-Three > p:nth-child(3) {
        text-align: right;
    }

}


@media all and (min-device-width: 375px) and (max-device-width: 425px){

    /*image blob*/
    .div-four {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 45px;
        left: 0;
        bottom: unset;
    }

    #blob {
        position: absolute;
        width: 190px;
        height: 190px;
        right: 0;
        margin: auto;
    }

    #profile {
        position: absolute;
        height: 160px;
        top: 56px;
        right: 57px;
    }


    /*  main introduction me text */
    .Home > .div-One {
        position: absolute;
        right: 0;
        left: 53px;
        top: 45px;
        height: 100px;
        width: 250px;
        margin: auto;
    }

    .Home > .div-One > * {
        margin: 0;
    }

    .Home > .div-One > p {
        font-size: 55px;
    }

    .Home > .div-One > p:nth-child(2) {
        font-size: 26px;
    }

    .Home > .div-One > p:nth-child(3) {
        font-size: 25px;
    }

    /* Quick contacts Info*/
    .div-Two {
        top: 425px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .div-Two > div {
        flex-grow: 1;
    }

    /*quote*/
    .div-Three {
        position: absolute;
        width: 310px;
        height: 40px;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }

    .div-Three > p {
        font-size: 11px;
    }

    .div-Three > p:nth-child(1) {
        text-align: left;
    }

    .div-Three > p:nth-child(2) {
        text-align: right;
    }

    .div-Three > p:nth-child(3) {
        text-align: right;
    }

}

@media all and (min-device-width: 425px) and (max-device-width: 620px){
    .Home {
        position: relative;
        height: 690px;
        background: #DEE3E4;
    }


    /*image blob*/
    .div-four {
        position: absolute;
        width: 230px;
        height: 230px;
        top: 45px;
        left: 0;
        bottom: unset;
    }

    #blob {
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0;
        margin: auto;
    }

    #profile {
        position: absolute;
        height: 180px;
        top: 56px;
        right: 57px;
    }


    /*  main introduction me text */
    .Home > .div-One {
        position: absolute;
        right: 0;
        left: 53px;
        top: 45px;
        height: 100px;
        width:350px;
        margin: auto;
    }

    .Home > .div-One > * {
        margin: 0;
    }

    .Home > .div-One > p {
        font-size:60px;
    }

    .Home > .div-One > p:nth-child(2) {
        font-size: 28px;
    }

    .Home > .div-One > p:nth-child(3) {
        font-size: 27px;
    }

    /* Quick contacts Info*/
    .div-Two {
        top: 475px;
        left: 0;
        right: 25px;
        margin: auto;
    }

    .div-Two > div {
        flex-grow: 1;
    }

    /*quote*/
    .div-Three {
        position: absolute;
        width: 380px;
        height: 40px;
        bottom: -90px;
        left: 0;
        margin: auto;
        right: 0;
    }

    .div-Three > p {
        font-size: 13px;
    }

    .div-Three > p:nth-child(1) {
        text-align: left;
    }

    .div-Three > p:nth-child(2) {
        text-align: right;
    }

    .div-Three > p:nth-child(3) {
        text-align: right;
    }

}

@media all and (min-device-width:620px) and (max-device-width: 768px){

    /*image blob*/
    .div-four {
        position: absolute;
        width: 180px;
        height: 180px;
        right: 0;
        top: 70px;
        bottom: unset;
        margin-right: 49px;
    }

    #blob {
        position: absolute;
        width: 190px;
        height: 190px;
        right: 0;
        margin: auto;
    }

    #profile {
        position: absolute;
        height: 160px;
        top: 56px;
        right: 57px;
    }


    /*  main introduction me text */
    .Home > .div-One {
        position: absolute;
        left: 70px;
        top: 100px;
        height: 120px;
        width: 250px;
    }

    .Home > .div-One > * {
        margin: 0;
    }

    .Home > .div-One > p {
        font-size: 50px;
    }

    .Home > .div-One > p:nth-child(2) {
        font-size: 24px;
    }

    .Home > .div-One > p:nth-child(3) {
        font-size: 23px;
    }

    /* Quick contacts Info*/
    .div-Two {
        top: 250px;
        left: 100px;
        margin: auto;
    }

    .div-Two > div {
        flex-grow: 1;
    }

    /*quote*/
    .div-Three {
        position: absolute;
        width: 360px;
        height: 40px;
        top: 120px;
        bottom: 0;
        left: 70px;
        margin: auto;

    }

    .div-Three > p {
        font-size: 13px;
    }

    .div-Three > p:nth-child(1) {
        text-align: left;
    }

    .div-Three > p:nth-child(2) {
        text-align: right;
    }

    .div-Three > p:nth-child(3) {
        text-align: right;
    }

}
