.skill {
    position: relative;
    height: 630px;
    /*border: 2px solid red;*/
    background: #DEE3E4;
}

.skill > .skill-set {
    position: relative;
    height: 500px;
    top: 110px;

    display: flex;
    flex-wrap: wrap;
}

.skill > .skill-set > div {
    position: relative;
    flex-grow: 1;
 /*   border: 2px solid #2a1342;*/
    width: 400px;
    height: 230px;
}


/*circles*/
.skill-set > div > div:nth-child(1) {
    /* position: relative;
     border-radius: 100%;
     border: 10px solid blue;
     width: 150px;
     height: 150px;
     top: 38px;
     left: 17px;*/


    width: 100px;
    height: 100px;
    top: 38px;
    left: 17px;
    border-radius: 100%;
    transform: rotate(45deg);
    position: relative;
}

.skill-set > div > div:nth-child(1)::after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#one > #circle-1 {
    border: 8px solid #CF21B3;
    border-left-color: transparent;
}

#one > #circle-1::after {
    background: #e8a19a;
}


#two > #circle-2 {
    border: 8px solid #DD7021;
    border-left-color: transparent;
}

#two > #circle-2::after {
    background: #C8BB99;
}


#three > #circle-3 {
    border: 8px solid #2D7AA6;
    border-left-color: transparent;
    border-bottom-color: transparent;

}

#three > #circle-3::after {
    background: #8DB4C5;
}


#four > #circle-4 {
    border: 8px solid #CFC821;
    border-left-color: transparent;

}

#four > #circle-4::after {
    background: #9BB85F;
}


#five > #circle-5 {
    border:8px solid #859E3D;
    border-left-color: transparent;
}

#five > #circle-5::after {
    background: #83D367;
}


#six > #circle-6 {
    border: 8px solid #FFAC70;
    border-left-color: transparent;

}

#six > #circle-6::after {
    background: #DDA485;
}

.skill-set > div > div:nth-child(1)>h3{
    position: absolute;
    color: #ffffff;
    transform: rotate(-45deg);
    font-size:28px;
    top:-8px;
    left:10px;
    right: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    margin: auto;
    z-index: 2;
}


/*divs*/
.skill-set > div > div:nth-child(2){
    position: absolute;
   /* border: 2px solid black;*/
    width: 241px;
    height: 158px;
    left: 124px;
    right: 0;
    top: 32px;
    margin: auto;
    border-top-left-radius: 51px;
    border-bottom-right-radius: 40px;
}
.skill-set > div > div:nth-child(2)>div{
    position: absolute;
   /* border: 2px solid #ba1818;*/
    background: rgba(194, 203, 203, 0.48);
    width: 239px;
    height: 40px;
    left: -2px;
    right: 0;
    top: 0;
    margin: auto;
    border-top-left-radius: 58px;
}
.skill-set > div > div:nth-child(2)>div>img{
    position: absolute;
    top: 3px;
    left: 27px;
    margin: auto;
    height: 35px;
}
.skill-set > div > div:nth-child(2)>div>h3 {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    height:20px;
    width: max-content;

    font-size:20px;
    color: #120c3b;
}
/*hedder text*/
 #txt1{
    color: #CF21B3;
 }
 #txt2{
    color: #DD7021 ;
 }
 #txt3{
   color: #2D7AA6;
 }
 #txt4{
   color:#CFC821 ;
 }
 #txt5{
   color:#859E3D ;
 }
 #txt6{
   color: #FFAC70;
 }


.skill-set > div > div:nth-child(2){
      /* background: rgba(117, 161, 182, 0.51);*/
       box-shadow: 4px 6px 7px 1px #60a6cbb9;
}


/* MAin text */
.skill >h2:nth-child(1){
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: max-content;
    width: max-content;
    font-family: 'Fira Sans', sans-serif;
    font-size: 37px;
    color: rgb(19, 28, 54);
    margin: auto;
}


                                              /*Responsive*/

@media all and (max-width: 320px) {

}

@media all and  (min-device-width: 320px) and (max-device-width: 375px) {
    .skill {
        position: relative;
        background: #DEE3E4;
    }
    .skill > .skill-set {

        height: 400px;
        width:300px;
        position: relative;
        /*  border: 2px solid #040610;*/
        display:grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(3,100px);
        grid-gap: 40px 40px;

        top: 145px;
        left: 15px;
        margin: auto;

    }
    .skill > .skill-set > div {
        position: relative;
        /* border: 2px solid #179c4d;*/
        /* background: #E51500;*/
        width:100px;
        height:100px;
        left: 20px;
        top: 10px;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }
    .skill-set > div > div:nth-child(1) {
        display: none;
    }

    .skill-set > div > div:nth-child(2){
        display: none;
    }

    #one{
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center  ;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


}

@media all and (min-device-width: 375px) and (max-device-width: 425px) {

    .skill {
        position: relative;
        background: #DEE3E4;
    }
    .skill > .skill-set {

        height: 400px;
        width:300px;
        position: relative;
      /*  border: 2px solid #040610;*/
        display:grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(3,100px);
        grid-gap: 40px 40px;

        top: 159px;
        left: 55px;

    }
    .skill > .skill-set > div {
        position: relative;
        width:100px;
        height:100px;
        left: 20px;
        top: 10px;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }
    .skill-set > div > div:nth-child(1) {
       display: none;
    }

    .skill-set > div > div:nth-child(2){
       display: none;
    }

    #one{
        background: url("../images/SectionThree/icons eztra/Java.png")
                        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }







}

@media all and (min-device-width: 425px) and (max-device-width: 620px) and (max-device-width: 768px) {

    .skill > .skill-set {
        position: relative;
        /* border: 2px solid red;*/
        height: 520px;
        width: max-content;
        display: grid;
        grid-template-rows: repeat(3,180px);
        grid-template-columns: repeat(2,180px);
        margin-right: auto;
        margin-left: auto;
    }

    .skill>.skill-set>div{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
    }


    .skill-set > div > div:nth-child(1) {
        width: 45px;
        height: 45px;
        top: -29px;
        left: 63px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;

    }

    .skill > .skill-set > div {
        position: relative;
        width: 100px;
        height: 100px;
        left: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: auto;
        top: 21px;
        bottom: 0;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }


    #one {
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


    .skill-set >div>div:nth-child(1)>h3{
           font-size: 18px;
    }





    .skill-set>div>div:nth-child(2){
        display: none;
    }





}

@media all and (min-device-width: 620px) and (max-device-width: 768px) {
    .skill > .skill-set {
        position: relative;
        /* border: 2px solid red;*/
        height: 520px;
        width: max-content;
        display: grid;
        grid-template-rows: repeat(3,180px);
        grid-template-columns: repeat(2,260px);
        margin-right: auto;
        margin-left: auto;
    }

    .skill>.skill-set>div{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
    }


    .skill-set > div > div:nth-child(1) {
        width: 45px;
        height: 45px;
        top: -29px;
        left: 63px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;

    }

    .skill > .skill-set > div {
        position: relative;
        width: 100px;
        height: 100px;
        left: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: auto;
        top: 21px;
        bottom: 0;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }


    #one {
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


    .skill-set >div>div:nth-child(1)>h3{
        font-size: 18px;
    }





    .skill-set>div>div:nth-child(2){
        display: none;
    }



}

@media all and (min-device-width:768px){
    .skill > .skill-set {
        position: relative;
        /* border: 2px solid red;*/
        height: 520px;
        width: max-content;
        display: grid;
        grid-template-rows: repeat(3,180px);
        grid-template-columns: repeat(2,260px);
        margin-right: auto;
        margin-left: auto;
    }

    .skill>.skill-set>div{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
    }


    .skill-set > div > div:nth-child(1) {
        width: 45px;
        height: 45px;
        top: -29px;
        left: 63px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;

    }

    .skill > .skill-set > div {
        position: relative;
        width: 100px;
        height: 100px;
        left: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: auto;
        top: 21px;
        bottom: 0;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }


    #one {
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


    .skill-set >div>div:nth-child(1)>h3{
        font-size: 18px;
    }





    .skill-set>div>div:nth-child(2){
        display: none;
    }



}


@media all and (min-width: 768px) and (max-width: 1024px) {
    /*main container*/
    .skill > .skill-set {
       /* border: 2px solid red;*/
        position: relative;
        height: 500px;
        top: 110px;
        display: flex;
        flex-wrap: wrap;
    }

    /*boxes*/
    .skill > .skill-set > div {
        position: relative;
        flex-grow: 1;
        flex-basis: auto;
     /*   border: 2px solid #2a1342;*/
        width:250px;
        height: 220px;
    }

    /*circles*/
    .skill-set > div > div:nth-child(1) {

        width: 60px;
        height:60px;
        top: 23px;
        left: 17px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;
        z-index: 2;
    }

    /*divs*/
    .skill-set > div > div:nth-child(2){
        position: absolute;
       /* border: 2px solid black;*/
        width: 200px;
        height: 150px;
        left:-3px;
        right: 0;
        top: 50px;
        margin: auto;
        border-top-left-radius: 51px;
        border-bottom-right-radius: 40px;
    }
    /* div image visible false*/
    .skill-set > div > div:nth-child(2)>div>img{
        display: none;
    }

     /*add picture*/

    .skill > .skill-set > div > div:nth-child(1) > h3{
        color: transparent;
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #circle-1 > h3 {
        background: url("../images/SectionThree/icons eztra/Java.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-2 > h3 {
        background: url("../images/SectionThree/icons eztra/html.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-3 > h3 {
        background: url("../images/SectionThree/icons eztra/css3.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-4 > h3 {
        background: url("../images/SectionThree/icons eztra/java-script.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-5 > h3 {

    }
    #circle-6 > h3 {
        background: url("../images/SectionThree/icons eztra/mysql.png");
        background-size: contain;
        background-repeat: no-repeat;
    }





  /* circle after:: */
    #one > #circle-1::after {
        background: #eaaaa3;
    }

    #two > #circle-2::after {
        background: #d4c6a6;
    }

    #three > #circle-3::after {
        background: #9ec2d0;
    }

    #four > #circle-4::after {
        background: #aac675;
    }

    #five > #circle-5::after {
        background: rgba(157, 219, 134, 0.97);
    }

    #six > #circle-6::after {
        background: #e3b497;
    }

    .skill-set > div > div:nth-child(2)>div{
        width: 199px;
    }





    .skill-set > div > div:nth-child(1)::after{

        content: "";
        background: url("../images/SectionThree/icons eztra/css3.png");
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media all and (min-width: 1024px){
    /*circles*/
    .skill-set > div > div:nth-child(1) {

        width: 100px;
        height: 100px;
        top: -6px;
        left: 27px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;
        z-index: 2;
    }

    /*divs*/
    .skill-set > div > div:nth-child(2){
        position: absolute;
        /* border: 2px solid black; */
        width: 241px;
        height: 158px;
        left: -18px;
        right: 0;
        top: 32px;
        margin: auto;
        border-top-left-radius: 51px;
        border-bottom-right-radius: 40px;
    }


    /*add picture*/

    .skill > .skill-set > div > div:nth-child(1) > h3{
        color: transparent;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #circle-1 > h3 {
        background: url("../images/SectionThree/icons eztra/Java.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-2 > h3 {
        background: url("../images/SectionThree/icons eztra/html.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-3 > h3 {
        background: url("../images/SectionThree/icons eztra/css3.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-4 > h3 {
        background: url("../images/SectionThree/icons eztra/java-script.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-5 > h3 {

    }
    #circle-6 > h3 {
        background: url("../images/SectionThree/icons eztra/mysql.png");
        background-size: contain;
        background-repeat: no-repeat;
    }




}


