.skill {
    position: relative;
    height: 630px;
    /*border: 2px solid red;*/
    background: #DEE3E4;
}

.skill > .skill-set {
    position: relative;
    height: 200px;
    top:276px;
    display: grid;
    grid-template-columns: repeat(8,150px);
    gap: 10px;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
   
}



/* Arrows */

.skill-set > #skillnavArrowLeft > div{
       position: relative;
       width: 100px;
       height: 100px;
       display: flex;
       align-items: center;
       justify-content: center;
       top: 10px;

}


  /* left */
   /* top */
.skill-set > #skillnavArrowLeft > div > :first-child{

       position: absolute;
       width: 50px;
       height:10px;
       border: 2px solid red;
       transform: rotate(-45deg);
       top: 26px;
       border-radius: 0 10px 10px 0;
            
}
 /* bottom */
.skill-set > #skillnavArrowLeft > div > :last-child{
    position: absolute;
    width: 50px;
    height:10px;
    border: 2px solid red;
    transform: rotate(45deg);
    top: 55px;
    border-radius: 0 10px 10px 0;
         
}


/* right */


.skill-set > #skillnavArrowRight > div{
    position: relative;
    
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 47px;
    top: 10px;

}




.skill-set > #skillnavArrowRight > div > :first-child{
    position: absolute;
    width: 50px;
    height:10px;
    border: 2px solid red;
    transform: rotate(45deg);
    top: 26px;
    border-radius: 10px 0 0 10px ;
         
}
.skill-set > #skillnavArrowRight> div > :last-child{
 position: absolute;
 width: 50px;
 height:10px;
 border: 2px solid red;
 transform: rotate(-45deg);
 top: 55px;
 border-radius: 10px 0 0 10px ;
}


/*circles*/
.skill-set > div:not(:first-child):not(:last-child)> div:nth-child(1) {

    width: 100px;
    height: 100px;
    top: 0px;
    left: 17px;
    border-radius: 100%;
    transform: rotate(45deg);
    position: relative;


}

.skill-set > div:not(:first-child):not(:last-child) > div:nth-child(1)::after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#one > #circle-1 {
    border: 8px solid #CF21B3;
    border-left-color: transparent;
}

#one > #circle-1::after {
    background: #e8a19a;
}


#two > #circle-2 {
    border: 8px solid #DD7021;
    border-left-color: transparent;
}

#two > #circle-2::after {
    background: #C8BB99;
}


#three > #circle-3 {
    border: 8px solid #2D7AA6;
    border-left-color: transparent;
    border-bottom-color: transparent;

}

#three > #circle-3::after {
    background: #8DB4C5;
}


#four > #circle-4 {
    border: 8px solid #CFC821;
    border-left-color: transparent;

}

#four > #circle-4::after {
    background: #9BB85F;
}


#five > #circle-5 {
    border:8px solid #859E3D;
    border-left-color: transparent;
}

#five > #circle-5::after {
    background: #83D367;
}


#six > #circle-6 {
    border: 8px solid #FFAC70;
    border-left-color: transparent;

}

#six > #circle-6::after {
    background: #DDA485;
}

/*
/*divs*/
 /* .skill-set > div > div:nth-child(2){
    position: absolute;
   
    width: 241px;
    height: 158px;
    left: 124px;
    right: 0;
    top: 32px;
    margin: auto;
    border-top-left-radius: 51px;
    border-bottom-right-radius: 40px;
}  */

/* MAin text */
.skill >h2:nth-child(1){
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: max-content;
    width: max-content;
    font-family: 'Fira Sans', sans-serif;
    font-size: 37px;
    color: rgb(19, 28, 54);
    margin: auto;
}


.skill-set{
    position: relative;
    display: flex;
    flex-direction: row;


}

.skill-set > div:not(:first-child):not(:last-child)> div:nth-child(1)>div {
    position: absolute;
    width: 70px;
    height: 70px;
    
    transform: rotate(-45deg);
    z-index: 1;
    top:15px;
    left:16px;
    
}




 #p1 {
   
    background: url("/asserts/images/SectionThree/icons/Java.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
  
}

#p2 {
    background: url("../images/SectionThree/icons/html.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;

   
}

#p3 {
    background: url("../images/SectionThree/icons/css3.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;

   
}

#p4 {
    background: url("../images/SectionThree/icons/java-script.png");
     background-size: 70px 70px;
     background-repeat: no-repeat;

}

#p5 {

}

#p6{
    background: url("../images/SectionThree/icons/mysql.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;  
}



/* skill end*/

/*technologies*/

/* #technologies {
      position: relative;
      border: 2px solid rgb(255, 255, 255);
      top:215px;
      height: 100px;
    
}

#containor{
     position:absolute;
     display: grid;
     grid-template-columns: repeat(10,150px);
     height: 100px;
     gap: 10px;
     justify-content: center;
     border: 2px solid rgb(255, 255, 255);
     
} */










  

/*Responsive*/

/*

@media all and (max-width: 320px) {

}

@media all and  (min-device-width: 320px) and (max-device-width: 375px) {
    .skill {
        position: relative;
        background: #DEE3E4;
    }
    .skill > .skill-set {

        height: 400px;
        width:300px;
        position: relative;
     
        display:grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(3,100px);
        grid-gap: 40px 40px;

        top: 145px;
        left: 15px;
        margin: auto;

    }
    .skill > .skill-set > div {
        position: relative;
      
        width:100px;
        height:100px;
        left: 20px;
        top: 10px;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }
    .skill-set > div > div:nth-child(1) {
        display: none;
    }

    .skill-set > div > div:nth-child(2){
        display: none;
    }

    #one{
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center  ;
       ;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


}

@media all and (min-device-width: 375px) and (max-device-width: 425px) {

    .skill {
        position: relative;
        background: #DEE3E4;
    }
    .skill > .skill-set {

        height: 400px;
        width:300px;
        position: relative;
     
        display:grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(3,100px);
        grid-gap: 40px 40px;

        top: 159px;
        left: 55px;

    }
    .skill > .skill-set > div {
        position: relative;
        width:100px;
        height:100px;
        left: 20px;
        top: 10px;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }
    .skill-set > div > div:nth-child(1) {
       display: none;
    }

    .skill-set > div > div:nth-child(2){
       display: none;
    }

    #one{
        background: url("../images/SectionThree/icons eztra/Java.png")
                        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }







}

@media all and (min-device-width: 425px) and (max-device-width: 620px) and (max-device-width: 768px) {

    .skill > .skill-set {
        position: relative;
      
        height: 520px;
        width: max-content;
        display: grid;
        grid-template-rows: repeat(3,180px);
        grid-template-columns: repeat(2,180px);
        margin-right: auto;
        margin-left: auto;
    }

    .skill>.skill-set>div{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
    }


    .skill-set > div > div:nth-child(1) {
        width: 45px;
        height: 45px;
        top: -29px;
        left: 63px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;

    }

    .skill > .skill-set > div {
        position: relative;
        width: 100px;
        height: 100px;
        left: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: auto;
        top: 21px;
        bottom: 0;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }


    #one {
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


    .skill-set >div>div:nth-child(1)>h3{
           font-size: 18px;
    }





    .skill-set>div>div:nth-child(2){
        display: none;
    }





}

@media all and (min-device-width: 620px) and (max-device-width: 768px) {
    .skill > .skill-set {
        position: relative;
    
        height: 520px;
        width: max-content;
        display: grid;
        grid-template-rows: repeat(3,180px);
        grid-template-columns: repeat(2,260px);
        margin-right: auto;
        margin-left: auto;
    }

    .skill>.skill-set>div{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
    }



    .skill > .skill-set > div {
        position: relative;
        width: 100px;
        height: 100px;
        left: 20px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: auto;
        top: 21px;
        bottom: 0;

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius:30px ;

        background: rgba(105, 149, 170, 0.51);
        box-shadow: 4px 6px 7px 1px #60a6cbb9;

    }


    #one {
        background: url("../images/SectionThree/icons eztra/Java.png")
        no-repeat center;
        background-size: 80px 80px;

    }

    #two{
        background: url("../images/SectionThree/icons eztra/html.png")
        no-repeat center ;
        background-size: 80px 80px;
    }

    #three{
        background: url("../images/SectionThree/icons eztra/css3.png")
        no-repeat center;
        background-size: 80px 80px;
    }

    #four{
        background: url("../images/SectionThree/icons eztra/java-script.png")
        no-repeat center;
        background-size: 80px 80px;

    }
    #five{


    }
    #six{
        background: url("../images/SectionThree/icons eztra/mysql.png")
        no-repeat center;
        background-size: 80px 80px;

    }


    .skill-set >div>div:nth-child(1)>h3{
        font-size: 18px;
    }





}

@media all and (min-width: 768px) and (max-width: 1024px) {
   
    .skill > .skill-set {
     
        position: relative;
        height: 500px;
        top: 110px;
        display: flex;
        flex-wrap: wrap;
    }

  
    .skill > .skill-set > div {
        position: relative;
        flex-grow: 1;
        flex-basis: auto;
    
        width:250px;
        height: 220px;
    }

   
    .skill-set > div > div:nth-child(1) {

        width: 60px;
        height:60px;
        top: 23px;
        left: 17px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;
        z-index: 2;
    }

    
    .skill-set > div > div:nth-child(2){
        position: absolute;
      
        width: 200px;
        height: 150px;
        left:-3px;
        right: 0;
        top: 50px;
        margin: auto;
        border-top-left-radius: 51px;
        border-bottom-right-radius: 40px;
    }
    
    .skill-set > div > div:nth-child(2)>div>img{
        display: none;
    }

     

    .skill > .skill-set > div > div:nth-child(1) > h3{
        color: transparent;
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #circle-1 > h3 {
        background: url("../images/SectionThree/icons eztra/Java.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-2 > h3 {
        background: url("../images/SectionThree/icons eztra/html.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-3 > h3 {
        background: url("../images/SectionThree/icons eztra/css3.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-4 > h3 {
        background: url("../images/SectionThree/icons eztra/java-script.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-5 > h3 {

    }
    #circle-6 > h3 {
        background: url("../images/SectionThree/icons eztra/mysql.png");
        background-size: contain;
        background-repeat: no-repeat;
    }





 
    #one > #circle-1::after {
        background: #eaaaa3;
    }

    #two > #circle-2::after {
        background: #d4c6a6;
    }

    #three > #circle-3::after {
        background: #9ec2d0;
    }

    #four > #circle-4::after {
        background: #aac675;
    }

    #five > #circle-5::after {
        background: rgba(157, 219, 134, 0.97);
    }

    #six > #circle-6::after {
        background: #e3b497;
    }

    .skill-set > div > div:nth-child(2)>div{
        width: 199px;
    }





    .skill-set > div > div:nth-child(1)::after{

        content: "";
        background: url("../images/SectionThree/icons eztra/css3.png");
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media all and (min-width: 1024px){
   
    .skill-set > div > div:nth-child(1) {

        width: 100px;
        height: 100px;
        top: -6px;
        left: 27px;
        border-radius: 100%;
        transform: rotate(45deg);
        position: relative;
        z-index: 2;
    }


    .skill-set > div > div:nth-child(2){
        position: absolute;
 
        width: 241px;
        height: 158px;
        left: -18px;
        right: 0;
        top: 32px;
        margin: auto;
        border-top-left-radius: 51px;
        border-bottom-right-radius: 40px;
    }




    .skill > .skill-set > div > div:nth-child(1) > h3{
        color: transparent;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #circle-1 > h3 {
        background: url("../images/SectionThree/icons eztra/Java.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-2 > h3 {
        background: url("../images/SectionThree/icons eztra/html.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-3 > h3 {
        background: url("../images/SectionThree/icons eztra/css3.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-4 > h3 {
        background: url("../images/SectionThree/icons eztra/java-script.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #circle-5 > h3 {

    }
    #circle-6 > h3 {
        background: url("../images/SectionThree/icons eztra/mysql.png");
        background-size: contain;
        background-repeat: no-repeat;
    }




}
*/


